body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

.clr-text {
  color: #fb984c;
}

.head-text {
  color: #575757;
  font-size: 48px;
  font-weight: 700;
}
/* -------------------------------nav-bar------------------------ */
#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 7%;
  background: rgba;
}
#logo {
  font-size: 32px;
  font-weight: 700;
}

#nav-links {
  display: flex;
  justify-content: space-between;
}

#nav-links .link {
  margin: 0rem 1.5rem;
  display: inline-block;
  list-style: none;
}

#nav-links .link a {
  color: #575757;
}
/* ---------------------------------------------header-section--------------------- */
#home {
  display: flex;
  margin: 0% 2%;
  padding: 3% 11%;
  align-items: center;
  justify-content: space-around;
}
